/*===================================================================
    * Styles for ABOUT page
    * See'head-foot.css' for:
        * styles for Header, Footer, Body basics 
        * font family and type scale
        * color palette for InspiredBeyondControl
===================================================================*/


/* Basic Styles */

main {
    text-align: center;
    margin-left: 5vw;
}


.resume {
    text-shadow: 2px 2px #474747;
    line-height: 1.25;
    max-width: 75vw;
    margin-left: 20vw;
}

section {
    margin-bottom: 5vh;
    padding: 2vh 13vh;
}

p {
    font-size: 1.25rem;
}

/* Headings */

h3,
h4,
#inspired {
    text-transform: capitalize; 
}

h3 {
    margin-bottom: 1.5rem;
    
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 2.441rem;
}


h4 {
    font-size: 1.563rem;
}
 

/* Resume Text fade */

#text-fade {
    height: 20%;
    width: 75vw;
    
    position: fixed;
    bottom: 10vh;
    z-index: 10;
    
    background-image: linear-gradient(rgba(0,0,0,0),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.4),
        rgba(0,0,0,1)),
        rgba(0,0,0,0);
}

/* Section - WHO */

.me {
    height: 50vh;
    max-width: 20vw;
    
    position: sticky;
    top: 5rem;
    float: left;
/*    margin-top: 5vh;*/
    
    box-shadow: 2px 2px #474747,
        3px 3px #474747;
    
    display: none;
}



#who div {
    margin-left: 7vh;
    margin-right: 3vh;
    padding-top: 10vh;
}

#who p {
    margin-bottom: 1.4rem;
}


#email {
    padding: .45rem .85rem;
    
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 1.25rem;
    color: #2295D4;
    
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #2295D4;
    border-radius: 10px;
}

#email:hover {
    background-color: #F0FAFF;
    border: 3px solid #2295D4;
    font-weight: 900;
    
}


/* Section - EDUCATION */

#education div {
    margin-bottom: 1rem;
}

/* Section - EXPERIENCE */



/* Media Queries */

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
    
        main {
            margin-left: 0;
        }

        section {
            padding-left: 0;
            padding-right: 0;
        }

        .about {
            display: block;
            width: 100%;
        }

        .me {
            position: relative;
        }

        .resume {
             margin-left: 15%;
        }

        .who div, 
        .who p {
            margin-left: 0;
            margin-right: 0;
        }
    
    
}