/*******************************************************
    Header & Footer for inspiredbeyondcontrol.github.io

    Fonts for Inspired Beyond Control:
        font-family: 'Kaushan Script', cursive;
        font-family: 'Merriweather', serif;

    Font Scale for 24px:
        3.052rem (73.24px)
        2.441rem (58.59px)
        1.953rem (46.88px)
        1.563rem (37.50px)
        1.25rem (30.00px)
        1rem (24.00px)
        0.8rem (19.20px)
        0.64rem (15.36px)
        0.512rem (12.29px)

    Color Palette:
        #2295D4 - inspired blue
        #3178EB - bold blue
        #F0FAFF - blue creme  - rgb (240,250,255)

    NEW inspired blue?   color: [10, 133, 250]
***************************************************/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: border-box;
} 

html {
    background: url(../pics/landscape-greyscale.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #F0FAFF; 
    max-width: 100vw;
}

header,
footer {
    background: url(../pics/landscape-greyscale.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    white-space: nowrap;
    z-index: 10;
    width: 100%; 
}

header {
    position: fixed;
    top: 0;
    height: 7vh;
}

header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.953rem;
    font-weight: 900;
    text-align: center;
    padding-top: 1.1vh;
    padding-bottom: .7vh;
    text-shadow: 2px 2px #474747, 
        3px 3px #474747;
}

main {
    max-width: 100vw;
    margin-top: 7vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed;
    bottom: 0;
    height: 5vh;
}

#foot-link,
#copy {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#foot-link {
    font-size: 1.45rem;
    text-shadow: 2px 2px #474747, 
        3px 3px #474747;
}

/* Animation for Footer #Contact */

.fire:hover {
    animation: rainbow 300ms ease 0s infinite normal forwards running;
}

@keyframes rainbow {
    
    0% {
        color: #000;
    }
    
    40% {
        color: #FFA500;
    }
    
    70% {
        color: #FFC04C;
    }
    
    100% {
        color: #FFB732;
    }
}

#copy {
    font-size: 0.512rem;
}


@media only screen and (orientation: portrait) {
    
    header h1 {
        font-size: 1.953rem;
        padding-top: 1vh;
    }

    #foot-link {
        font-size: 1rem;
    }
}


@media only screen 
    and (max-width: 545px)
    and (orientation: portrait) {
    
        header h1 {
            font-size: 1.563rem;
        }
        
        #copy {
            font-size: .4rem;
        } 
}

@media only screen 
    and (max-width: 440px)
    and (orientation: portrait) {
    
        header h1 {
            font-size: 1.25rem;
        }
    
        #foot-link {
            font-size: .8rem;
        }
}

@media only screen 
    and (max-width: 320px)
    and (orientation: portrait) {
    
        header h1 {
            font-size: 1.1rem;
        }

        #copy {
            font-size: .4rem;
        } 
}


@media only screen 
    and (max-height: 770px)
    and (orientation: landscape) {
        
        header h1 {
            font-size: 1.563rem;
        }
        
         #foot-link {
            font-size: 1.25rem;
        } 
}

@media only screen 
    and (max-height: 615px)
    and (orientation: landscape) {
        
        #foot-link {
            font-size: 1rem;
        } 
}


@media only screen 
    and (max-height: 540px)
    and (orientation: landscape) {
        
        #foot-link,
        #copy {
            padding-top: .5vh;
        }
        
}

@media only screen 
    and (max-height: 385px)
    and (orientation: landscape) {
        
        header h1 {
            font-size: 1.563rem;
        }
        
        #contact {
            font-size: .8rem;
        }
        
        #copy {
            font-size: .3rem;
        }
      
}

@media only screen 
    and (max-height: 320px)
    and (orientation: landscape) {
        
        header h1 {
            font-size: 1.25rem;
        }       
}