/*****************************************************************
    styles for Header, Footer, Main height set in 'head-foot.css'

    Hunger No More Color Palette:

        #F8B400 - wheat yellow
        #785800 - bright brown
        #786124 - faded brown
        #4A4A36 - wheat grey
        #FAF5E4 - wheat cream

    Hunger No More Font Families:

        font-family: 'Roboto', sans-serif;
        font-family: 'Baloo Bhai', cursive;
*****************************************************************/

main {
    font-family: 'Roboto', sans-serif;
    color: #786124;
    background-color: #4A4A36;
    overflow: scroll;
    position: relative;
}

h3 {
    font-family: 'Baloo Bhai', cursive;
    font-size: 2.75rem;
    margin-left: 2vw;
}

main p {
    font-size: 1.15rem;
}

#hg-header nav {
    margin-bottom: .35rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

#hg-logo {
    height: 80%;
    margin-top: 2vh;
    position: absolute;
    left: 0;
}

#nav-icon,
#cross-icon {
    display: none;
}

#dropdown-list ul,
.hg-ftnav ul {
    color: #F8B400;
    display: flex;
    justify-content: space-around;
}

.nav-link:hover {
    color: #000;
    background-color: #F8B400;
}

#hg-header {
    position: relative;
    height: 12vh;
    max-width: 80vw;
    margin-left: 10vw;
}


#hg-header nav ul li {
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

#dream {
    display: flex;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #FAF5E4;
    border-bottom: 4px solid #4A4A36;
}

#dream h3 {
    padding-top: 3vh;
    margin-bottom: 1.2vh;
}

#dream p {
    margin-bottom: 2vh;
    width: 40vw;
    line-height: 1.4;
}

#dream p span {
    font-weight: 900;
}

#dream img {
    height: 30vh;
    width: 35vw;
    margin-top: 5vh;
    margin-right: 5vw;
    box-shadow: -5px 5px #4A4A36;
}

#join-us {
    background-image: linear-gradient(rgba(242, 235, 226, 0.8), rgba(242, 235, 226, 0.8)), 
        url(../pics/volunteer-team.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#join-us container {
    display: flex;
    justify-content: space-between;
}

#join-us h3 {
    margin-top: 7vh;
    margin-bottom: 3vh;
}

#join-us p,
#join-us ul { 
    margin-bottom: 2vh; 
}

#join-us p {
    width: 35vw;
    line-height: 1.4;
}

#join-us li {
    list-style-type: circle;
    width: 25vw;
    margin-left: 3vw;
}

#join-us li:first-of-type {
    line-height: 2.25;
}

#what {
    margin-left: 2vw;
}

#accomplishments {
    margin-right: 2vw;
}

#teach {
    font-style: italic;
    margin-left: 5vw;
}

#join-us button {
    margin: 5rem auto;
    display: block;
    padding: .35rem 1.25rem;
    
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.75rem;
    color: #786124;
    
    background-color: #FAF5E4;
    border: 3px solid #786124;
    border-radius: 20px;
}

#join-us button:hover {
    transform: scale(1.2);
}

#hg-footer {
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 10vh;
}

#hg-footer ul li {
    padding-left: .5rem;
    padding-right: .5rem;
}


#description {
    display: flex;
    background-color: #FAF5E4;
    height: 60vh;
    width: 5vw;
    position: absolute;
    top: 5vh;
    right: 0;
    transition: width 1s ease-in-out;
    overflow: hidden;
}

#description img {
    height: 8%;
    margin-top: 30vh;
}

#right-arrow {
    display: none;
}

#description h4 {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 3vh;
}

#description p {
    margin-left: 3.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vh;
    line-height: 1.2;
}


@media only screen and (orientation: portrait) {

    #hg-header {
        display: flex;
        align-items: center;
    }
    
    #hg-logo {
        margin-top: 0;
    }
    
    #dropdown {
        display: inline-block;
        position: relative;
        margin-left: 60vw;
        margin-top: 10vh;
    }
    
    #nav-icon {
        display: block;
        position: relative;
        bottom: 5vh;
        height: 10vh;
        width: 10vw;
    }
    
    #cross-icon {
        position: relative;
        bottom: 7vh;
        left: 5vw;
        height: 6vh;
        width: 6vw;
        z-index: 2;
    }
    
    #dropdown-list ul {
        position: relative;
        top: 6rem;
        display: inline-block;
        text-align: right;
        
        background-color: #4A4A36;
    }
    
    #dropdown-list {
        display: none;
        text-align: center;
    }
    
    #hg-header nav ul li {
        font-size: 1.563rem;
        padding: .3rem .6rem;
    }
    
    h3 {
        font-size: 2.45rem;
    }
     
    #dream,
    #join-us container {
        display: block;
        text-align: center;
    }
    
    
    #dream p,
    #join-us p {
        font-size: 1rem;
        margin-left: 5vw;
        width: 80vw;
    }
    
    #dream {
        padding-top: 2vh;
    }
    
    #dream img {
        height: 30vh;
        width: 60vw;
        margin-top: 3vh;
    }
    
    #join-us li {
        margin-left: 15vw;
        width: 60vw;
    }
}

@media only screen 
    and (max-width: 680px)
    and (orientation: portrait) {
        
        h3 {
            font-size: 2.15rem;
        }
        
        #dream p,
        #join-us p {
            font-size: .85rem;
        }
        
}


@media only screen 
    and (max-height: 770px)
    and (orientation: landscape) {
        
        h3 {
            font-size: 2.25rem;
        }
        
        main p {
            font-size: 1rem;
        }
        
        #dream h3 {
            padding-top: 1vh;
        }
        
        #dream img {
            height: 35vh;
            width: 30vw;
            margin-top: 10vh;
        }
        
        #join-us li {
            font-size: .85rem;
        }
}