/* Mobile-First Approach */

/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
*/


/***********************
    Base Styles 
************************/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: border-box;
} 

html {
    background: url("../pics/me-20120917.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}

body {
    width: 100%;
}

h1,
h2,
h3, {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

/*=======================================
        Grid
========================================*/

.grid {
    display: grid;
    grid-template-columns:
        "div"
        "section"
        "footer";
} 


/*=======================================
        Header & Nav Menu
========================================*/

#header {  
    display: grid;
    
    background: #FFF;
    text-align: center;
    
    padding: 1em 2em;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/*
.dropdown {
    display: inline-block;
    text-align: center;
    
}
*/

#header button {
    background-color: lightgray;
    color: #000;
    font-weight: 900;
    
    display: none;
}


.dropdown-list {
/*
    display: none;
    position: absolute;
    
    text-align: center;
    
    z-index: 1;
*/
}

.dropdown-list a {
    display: block;
    
    text-decoration: none;
    color: inherit;
    
    padding-left: 0.5em;
    padding-right: 5em; 
}

.dropdown-list a:hover {
    background-color: #ddd;
    
    font-weight: 700;
}

.dropdown:hover .dropdown-list {
    display: block;
    
    background-color: whitesmoke;
    
    text-align: left;
    border-top: 2px solid black;

    margin-left: 4em;
}


/*=======================================
        Section: Introduction
========================================*/

#sec-1 {    
    background-color: lightgrey;
    
    padding-bottom: 5em;
    padding-left: 5%;
    padding-right: 5%;
}

#sec-1 img {
    position: absolute;
    transform: translateX(-120%)
}

#sec-1 p:nth-of-type(1),
#sec-1 p:nth-of-type(2) {
    font-weight: 600;
    
    width: 90%;
    
}

#sec-1 p:nth-of-type(1) {
    font-size: 2.5em;
}

#sec-1 p:nth-of-type(2) {
    font-size: 1.15em;
}

button {
    background-color: #000;
    
    color: #FFF;
    font-size: 0.85em;
    text-transform: uppercase;
    
    padding: 0.75em;
}

#sec-2 {
    background-color: #FFF;
        
    font-size: 1.5em;
    text-align: center;
    
    padding: 2em 8%;
   
}


/*=======================================
        Section: Blogging
========================================*/

#sec-3 {
    background-color: lightgreen;
    
    color: #FFF;
    text-align: center;
    
    padding: 2.5em 8%;
}

#sec-3 h3,
#sec-3 p:nth-of-type(2) {
    text-transform: uppercase;
}

#sec-3 h3 {
    letter-spacing: .05em;
}

#sec-3 p:nth-of-type(1) {
    font-size: 2.25em;
}

#sec-3 p:nth-of-type(2) {
    background-color: darkgreen;
    
    font-size: 0.85em;
    letter-spacing: .15em;
    
    padding: 0.5em;

}


/*=======================================
        Section: YouTube
========================================*/

#sec-4 {
    background-color: skyblue;
    
    color: #FFF;
    text-align: center;
    
    padding: 2.5em 8%;
}

#sec-4 h3,
#sec-4 p:nth-of-type(2) {
    text-transform: uppercase;
}

#sec-4 h3 {
    letter-spacing: .05em; 
}

#sec-4 p:nth-of-type(1) {
    font-size: 2.25em;
}

#sec-4 p:nth-of-type(2) {
    background-color: dodgerblue;
    
    font-size: 0.85em;
    letter-spacing: .15em;
    
    padding: 0.5em;
}


/*=======================================
        Section: Freelancing
========================================*/

#sec-5 {
    background-color: mediumpurple;
    
    color: #FFF;
    text-align: center;
    
    padding: 2.5em 8%;
}

#sec-5 h3,
#sec-5 p:nth-of-type(2) {
    text-transform: uppercase;
}

#sec-5 h3 {
    letter-spacing: .05em; 
}

#sec-5 p:nth-of-type(1) {
    font-size: 2.25em;
}

#sec-5 p:nth-of-type(2) {
    background-color: rebeccapurple;
    
    font-size: 0.85em;
    letter-spacing: .15em;
    
    padding: 0.5em;
}


/*=======================================
        Section: Feedback
========================================*/

#sec-6 {
    background-color: #FFF;
    text-align: center;
    
    padding: 2.5em 8%;
}

.student-quote {
    color: gray;
    font-style: italic;
    font-size: 1.15em;
}

.student-name,
.student-title {
    font-family: 'Lato', sans-serif;
}

.student-title {
    font-size: 0.75em;
    margin-top: 0;
}


/*=======================================
        Section: Popular Blogs/Videos
========================================*/

h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-style: italic;
    font-size: 2.25em;
        
    margin-left: 2.5em;
}

.popular {
    display: block;
    width: 17em;
    
    background-color: #000;
    
    text-transform: uppercase;
    text-align: center;
    
    margin: 2.5em 2.5em;
    padding: 2em 0.5em 2em;
}

#yellow {
    color: yellow;
    font-weight: 700;
}

.blue-lines {
    color: #0e5f71;
    font-style: italic;
    font-size: 2em;
}

.white-lines {
    color: #FFF;
    font-weight: 700;
    font-size: 1.45em;
}


/*
.popular a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
*/


/*=======================================
        Footer
========================================*/

footer {
    background-color: #000;
    
    color: #FFF;
    text-align: center;
    
    padding-top: 4em;
    padding-bottom: 2em;
}

footer a {
    color: #FFF;
}


/*=======================================
        Media Queries
========================================*/

@media (min-width: 600px) {

/* Section: Introduction */
    #sec-1 img {
        transform: translateX(-90%);
    }
    
    #sec-1 p {
        max-width: 70%;
    }
    
    #sec-1 p,
    #sec-1 button {
        margin-left: 10%;
    }
    
/* Section: Popular Blogs/Videos */
    .popular {
        max-width: 20em;
        
        margin-left: 30%;
        margin-right: 30%;
    }
}

@media (min-width: 650px) {

/* Section: Introduction */
    #sec-1 img {
        transform: translateX(-80%);
    }
    
    #sec-1 p {
        max-width: 70%;
    }
    
    #sec-1 p,
    #sec-1 button {
        margin-left: 20%;
    }
}

@media (min-width: 700px) {

/* Section: Introduction */
    #sec-1 img {
        transform: translateX(-70%);
    }
    
    #sec-1 p {
        max-width: 70%;
    }
    
    #sec-1 p,
    #sec-1 button {
        margin-left: 20%;
    }
}

@media (min-width: 800px) {
   
/* Section: Introduction */
    #sec-1 img {
        transform: translateX(-60%);
    }
    
    #sec-1 p {
        max-width: 60%;
    }
    
    #sec-1 p,
    #sec-1 button {
        margin-left: 30%;
    }
}

@media (min-width: 900px) {
    
/* Section: Introduction */    
    #sec-1 img {
        transform: translateX(30%);
    }
    
    #sec-1 p {
        max-width: 45%;
    }

    #sec-1 p,
    #sec-1 button {
        margin-left: 50%;
    }
    
   

}

@media (min-width: 1100px) {
    
/* Section: Introduction */
    #sec-1 {
        padding-left: ;
        padding-right: ;
    }
    
    #sec-1 img {
        transform: translateX(70%);
    }
    
    #sec-1 p {
        max-width: 45%;
    }
    
    #sec-1 p,
    #sec-1 button {
        margin-left: 50%;
    }
    
/* Sections: Blogging, YouTube, Freelancing */
    .flex {
        display: flex;
    }
}

@media (min-width: 1200px) {
    
/* Section: Introduction */
    #sec-1 {
        padding-left: 15%;
        padding-right: 15%;
    }
    
    #sec-1 p {
        max-width: 65%;
    }
    
    #sec-1 p:nth-of-type(1) {
        font-size: 3em;
    }

    #sec-1 p:nth-of-type(2) {
        font-size: 1.85em;
    }
}

