main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../pics/ruby-gem.svg);
    padding-bottom: 10vh;
}

main h3 {
    text-align: center;
    font-style: italic;
    font-size: 3.052rem;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

main h4 {
    margin-left: 18vw;
    margin-bottom: 2vh;
}

main p {
    font-size: 1.15rem;
    letter-spacing: .6px;
    line-height: 1.2;
    max-width: 65vw;
    margin-left: 20vw;
    margin-bottom: 3vh;
}

main video {
    margin-top: 1vh;
    margin-left: 25vw;
    margin-bottom: 3vh;
}


@media only screen and (orientation: portrait) {
    
    main h3 {
        font-size: 2.441rem;
    }
    
    main h4 {
        font-size: .75rem;
        margin-left: 8vw;
    }
    
    main p {
        font-size: .85rem;
        margin-left: 10vw;
        max-width: 75vw;
    }
    
    main video {
        width: 80vw;
        margin-left: 10vw;
    }
}

@media only screen 
    and (max-height: 770px)
    and (orientation: landscape) {
        
        main h3 {
            font-size: 2.441rem;
        }

        main h4 {
            font-size: .75rem;
        }

        main p {
            font-size: .85rem;
        }

}