/* 
Fonts for Inspired Beyond Control:
    font-family: 'Amatic SC', cursive;
    font-family: 'Josefin Slab', serif;

Color Palette:
    #2295D4 - inspired blue
    #3178EB - bold blue
    #F0FAFF - blue creme
*/


/* Basic Styles */

html,
body {
    box-sizing: border-box;
    height: 100%;
    
    font-size: 18px;   
}

container {
    display: flex;
    justify-content: center;
    
    margin-left: 8%;
    margin-top: 12%;
    margin-right: 5%
}

container a {
    position: relative;
    width: 40%;
    
    text-decoration: none;
}

container a p {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    
    font-family: 'Josefin Slab', serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    color: azure;
    text-shadow: 2px 2px 5px #002;
    opacity: 0;
}

container a:first-child {
    margin-right: 5rem;
}


#portLogo {
    width: 100%;
}

#storeLogo {
    width: 90%;
}


/* Intro Paragraph */

#intro {
    font-family: 'Josefin Slab', serif;
    font-size: 1.45rem;
    color: #2295D4;
    text-align: center;
    font-style: italic;
    line-height: 1.3;
    
    margin: 5% 27% auto;
    
}

/* Footer - copy */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#copy {
    text-align: center;
    color: gray;
    font-size: .85rem;
}

/* Special Effects */

container a:hover {
    background-color: rgba(153, 153, 153, 0.3);
}

container a p:hover {
    opacity: 1;
}
