/*****************************************************************
    styles for Header, Footer, Main height set in 'head-foot.css'

    TastyBlogs color palette:

    #49260A - chocolate
    #623B1C - dark brown
    #CAAD8C - light brown
    #F6EDDD - cream

    font-family: 'Montserrat', sans-serif
        * Light 300
        * Light 300 Italic

*****************************************************************/


main {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #F6EDDD;
    background-color: #49260A;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90vh;
}

.tb-blogs img {
    height: 25vh;
    width: 32vh;
    margin-bottom: 2vh;
}

#nav-icon,
#cross-icon {
    display: none;
}

#tb-header,
.tb-blogs {
    padding-left: 2vw;
    padding-right: 2vw;
}

#tb-header {
    padding-top: 2vh;
    padding-bottom: 7vh;
    text-align: center;
    white-space: nowrap;
}

.tb-name,
.tb-blogs container {
    display: flex;
}

.tb-name {
    align-items: baseline;
    text-align: center;
    margin-left: 25vw;
    margin-bottom: 2.75vh;
}

.tb-name h3 {
    font-family: yellowtail, cursive;
    font-size: 3.052rem;
    letter-spacing: .2rem;
    margin-right: 10%;
}

.tb-name p {
    font-size: 1rem;
    font-style: italic;
    color: #CAAD8C;
}

.tb-nav {
    display: inline-flex;
    align-items: baseline;
    white-space: nowrap;
}

.tb-nav li {
    font-size: .85rem;
    margin-right: 1.2rem;
}

.tb-nav li:hover {
    color: #CAAD8C;
    font-weight: 500;
    text-decoration: underline;
}

#tb-nav-searchbox,
#tb-ft-searchbox {
    margin-left: 7vw;
}

#tb-nav-searchbox input::placeholder,
#tb-ft-searchbox input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#tb-nav-searchbox button,
#tb-ft-searchbox button {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 300;
    color: #49260A;
    background-color: #CAAD8C;
    margin-left: .5vw;
}

.tb-blogs h4,
.tb-blogs h5,
#fans {
    text-align: center;
    margin-bottom: .7rem;
}

.tb-blogs h4 {
    font-size: 1.25rem;
/*    margin-bottom: 1.5rem;*/
}

.tb-blogs h5 {
    font-size: 1rem;
    
}

.tb-blogs container {
    justify-content: space-around;
    margin-left: 4vw;
    margin-right: 4vw;
}

.tb-blogs article {
    margin-right: 2vw;
}

.tb-blogs article p:last-of-type,
.tb-blogs aside p:last-of-type {
    margin-top: 2vh;
    text-align: center;
    font-style: italic;
}

.tb-blogs aside {
    margin-left: 3vw;
}

.tb-blogs p {
    font-weight: 100;
}


#tb-ft-searchbox {
        display: none;
}

#description {
    display: flex;
    background-color: #49260A;
    height: 60vh;
    width: 5vw;
    position: absolute;
    top: 7vh;
    right: 0;
    transition: width 1s ease-in-out;
    overflow: hidden;
}

#description img {
    height: 8%;
    margin-top: 30vh;
}

#right-arrow {
    display: none;
}

#project-desc {
    padding-left: 2vw;
    padding-right: 1vw;
}

#description h4 {
    font-size: 1.563rem;
    font-weight: 600;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

#description p {
    font-size: 1rem;
    margin-left: 3.5vw;
    margin-right: 1.5vw;
    margin-bottom: 1.5vh;
    line-height: 1.2;
}



@media only screen and (orientation: portrait) {
    
    main {
        height: 100%;
    }
    
    #tb-header,
    .tb-name,
    .tb-nav,
    .tb-blogs container,
    .tb-blogs aside,
    .tb-footer {
        display: block;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .tb-name h3 {
        font-size: 4rem;
        margin-top: 4vh;
        margin-left: 4vh;
    }
    
    .tb-name p {
        font-size: .8rem;
        margin-top: 2vh;
        margin-right: 2vh;
        margin-bottom: 7vh;
    }
       
    #dropdown {
        position: absolute;
        top: 7vh;
        left: 1;
        height: 10vh;
        width: 10vw;
    }

    #nav-icon {
        display: block;
        height: 7vh;
        width: 10vw;
    }

    #cross-icon {
        position: relative;
        height: 6vh;
        width: 6vw;
    }

    #dropdown-list ul {
        display: inline-block;
        text-align: left;
    }

    #dropdown-list {
        display: none;
    }
    
    .tb-nav li {
        font-size: 1.25rem;
        background-color: #49260A;
        padding: 1.4vh 2.2vw;
    }
    
    #tb-nav-searchbox {
        display: none;
    }
    
    .tb-blogs h4 {
            font-size: 1.953rem;
    }
  
    .tb-blogs img {
        height: 30vh;
        width: 45vh;
        margin-bottom: 2vh;
    }
    
    .tb-blogs article {
        margin-bottom: 10vh;
    }
    
    .tb-blogs p {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    .tb-blogs aside {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 1vh;
    }
    
    #tb-footer {
        padding-bottom: 10vh;
    }
    
    #tb-ft-searchbox {
        display: block;
        text-align: center;
    }
    
    #tb-ft-searchbox input {
        width: 40vw;
        margin-top: 5vh;
    }
    
}

@media only screen 
    and (max-width: 680px)
    and (orientation: portrait) {
        
        .tb-nav li {
            font-size: 1rem;
        }
        
        .tb-name h3 {
            font-size: 2.4rem;
        }
        
        .tb-name p {
            font-size: .65rem;
        }
        
        .tb-blogs h4 {
            font-size: 1.25rem;
        }
        
        .tb-blogs img {
            height: 27vh;
            width: 36vh;
        }
        
        .tb-blogs {
            font-size: .7rem;
        }
}

@media only screen 
    and (max-height: 700px)
    and (orientation: landscape) {
        
        .tb-blogs h4 {
            font-size: 1rem;
        }
        
        .tb-blogs h5 {
            font-size: .8rem;
        }
        
        .tb-nav li,
        #tb-nav-searchbox button,
        .tb-blogs {
            font-size: .65rem;
        }
}

@media only screen 
    and (max-height: 550px)
    and (orientation: landscape) {
        
        .tb-name {
            display: block;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
        
        .tb-name h3 {
            margin-left: 3vw;
            margin-bottom: 1.5vh;
        }
        
        .tb-name p {
            font-size: .85rem;
        }
        
}