/*****************************************************************
    styles for Header, Footer, Main height set in 'head-foot.css'

    Tasty Recipes color palette:

    #49260A - chocolate
    #623B1C - dark brown
    #CAAD8C - light brown
    #F6EDDD - cream

    Font Families:

    title:
        font-family: 'Yellowtail', cursive;
    body:
        font-family: 'Montserrat', sans-serif
            * Light 300
            * Light 300 Italic

*****************************************************************/


main {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #F6EDDD;
    background-color: #49260A;
    height: 90vh;
}


#tb-header {
    padding-left: 2%;
    padding-right: 2%;
}

#tb-header {
    margin: 2.5% 2.5% 5%;
    text-align: center;
    white-space: nowrap;
}

.tb-name {
    display: flex;
}

.tb-name {
    align-items: baseline;
    text-align: center;
    margin-left: 17vw;
    margin-bottom: 1.75vh;
}

.tb-name h3 {
    font-family: 'Yellowtail', cursive;
    font-size: 3.052rem;
    letter-spacing: .2rem;
    margin-right: 10%;
}

.tb-name p {
    font-size: 1rem;
    font-style: italic;
    color: #CAAD8C;
}

#choc-recipe {
    display: flex;
    margin: 2vh 10vw auto;
}

#landscape-img,
#portrait-img {
    height: 30vh;
    width: 42vh;
    margin-right: 7vw;
    margin-bottom: 2vh;
}

#portrait-img {
    display: none;
}

#choc-recipe h4 {
    font-size: 2.441rem;
    text-align: center;
    margin-bottom: 3vh;
}

#choc-recipe h5 {
    font-size: 1.563rem;
    margin-left: 3vw;
    margin-bottom: 1.3vh;
}

#choc-recipe ul,
#choc-recipe ol {
    margin-left: 4.5vw;
    margin-bottom: 3vh;
}

#choc-recipe ul li {
    list-style-type: circle;
    line-height: 1.4;
}

#choc-recipe ol {
    margin-top: 1.5vh;
}

#choc-recipe ol li {
    list-style-type: lower-roman;
    line-height: 1.2;
    margin-bottom: 1vh;
}

#choc-recipe button {
    font-size: 1rem;
    color: 49260A;
    background-color: #F6EDDD;
    padding: .25rem 1.55rem;
    margin-top: 3vh;
    margin-left: 4vw;
}


@media only screen and (orientation: portrait) {
    
    #tb-header,
    .tb-name {
        display: block;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .tb-name h3 {
        font-size: 4rem;
        margin-top: 4vh;
        margin-left: 4vh;
    }
    
    .tb-name p {
        font-size: .8rem;
        margin-top: 2vh;
        margin-right: 2vh;
        margin-bottom: 7vh;
    }
    
    #choc-recipe {
        display: block;
        margin: 0;
        padding-bottom: 10vh;
    }
      
    #landscape-img {
        display: none;
    }

    #portrait-img {
        display: block;
        margin-left: 20vw;
    }
    
    #portrait-img,
    #choc-recipe h4 {
        margin-bottom: 4vh;
    }
    
    #choc-recipe h5,
    #choc-recipe ul,
    #choc-recipe ol,
    #choc-recipe p {
        margin-left: 13vw;
        margin-right: 10vw;
    }
    
    #choc-recipe h5 {
        margin-bottom: 2vh;
    }
    
    #choc-recipe button {
        margin-top: 5vh;
        margin-left: 30vw;
    }
}

@media only screen 
    and (max-width: 680px)
    and (orientation: portrait) {
        
        .tb-name h3 {
            font-size: 2.4rem;
        }
        
        .tb-name p {
            font-size: .65rem;
        }
      
}

@media only screen 
    and (max-height: 550px)
    and (orientation: landscape) {
        
        .tb-name {
            display: block;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
        
        .tb-name h3 {
            margin-left: 3vw;
            margin-bottom: 1.5vh;
        }
        
        .tb-name p {
            font-size: .85rem;
        }
        
}