/*****************************************************************
    styles for Header, Footer, Main height set in 'head-foot.css'

    TastyBlogs color palette:

    #49260A - chocolate
    #623B1C - dark brown
    #CAAD8C - light brown
    #F6EDDD - cream

    font-family: 'Montserrat', sans-serif
        * Light 300
        * Light 300 Italic

*****************************************************************/


main {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #F6EDDD;
    background-color: #49260A;
    overflow: scroll;
}

#nav-icon,
#cross-icon {
    display: none;
}

#tb-header {
    padding-left: 2%;
    padding-right: 2%;
}

#tb-header {
    margin: 2.5% 2.5% 5%;
    text-align: center;
    white-space: nowrap;
}

.tb-name,
.tb-blogs container {
    display: flex;
}

.tb-name {
    align-items: baseline;
    text-align: center;
    margin-left: 17%;
    margin-bottom: 1.75%;
}

.tb-name h3 {
    font-family: yellowtail, cursive;
    font-size: 3.052rem;
    letter-spacing: .2rem;
    margin-right: 10%;
}

.tb-name p {
    font-size: 1rem;
    font-style: italic;
    color: #CAAD8C;
}

.tb-nav {
    display: inline-flex;
    align-items: baseline;
    white-space: nowrap;
}

.tb-nav li {
    font-size: .85rem;
    margin-right: 1.2rem;
}

.tb-nav li:hover {
    color: #CAAD8C;
    font-weight: 500;
    text-decoration: underline;
}

#tb-nav-searchbox,
#tb-ft-searchbox {
    margin-left: 7vw;
}

#tb-nav-searchbox input::placeholder,
#tb-ft-searchbox input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#tb-nav-searchbox button,
#tb-ft-searchbox button {
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 300;
    color: #49260A;
    background-color: #CAAD8C;
    margin-left: .5vw;
}

#choc-recipe {
    display: flex;
    margin: 5vh 10vw auto;
}

#choc-recipe img {
    height: 30vh;
    width: 42vh;
    margin-right: 7vw;
    margin-bottom: 2vh;
}

#choc-recipe h4 {
    font-size: 2.441rem;
    text-align: center;
    margin-bottom: 3vh;
}

#choc-recipe h5 {
    font-size: 1.25rem;
    margin-left: 3vw;
    margin-bottom: 1.3vh;
}

#choc-recipe ul {
    margin-left: 4.5vw;
    margin-bottom: 3vh;
}

#choc-recipe li {
    list-style-type: circle;
    line-height: 1.2;
}

#tb-ft-searchbox {
        display: none;
}

@media only screen and (orientation: portrait) {
    
    #tb-header,
    .tb-name,
    .tb-nav {
        display: block;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .tb-name h3 {
        font-size: 4rem;
        margin-top: 4vh;
        margin-left: 4vh;
    }
    
    .tb-name p {
        font-size: .8rem;
        margin-top: 2vh;
        margin-right: 2vh;
        margin-bottom: 7vh;
    }
       
    #dropdown {
        position: absolute;
        top: 15vh;
        left: 1;
        height: 10vh;
        width: 10vw;
    }

    #nav-icon {
        display: block;
        height: 10vh;
        width: 10vw;
    }

    #cross-icon {
        position: relative;
        height: 6vh;
        width: 6vw;
    }

    #dropdown-list ul {
        display: inline-block;
        text-align: left;
    }

    #dropdown-list {
        display: none;
    }
    
    .tb-nav li {
        font-size: 1.25rem;
        background-color: #49260A;
        padding: 1.4vh 2.2vw;
    }
    
    #tb-nav-searchbox {
        display: none;
    }
    
    
    #tb-ft-searchbox {
        display: block;
        text-align: center;
    }
    
    #tb-ft-searchbox input {
        width: 40vw;
        margin-top: 5vh;
    }
    
}

@media only screen 
    and (max-width: 680px)
    and (orientation: portrait) {
        
        .tb-nav li {
            font-size: 1rem;
        }
        
        .tb-name h3 {
            font-size: 2.4rem;
        }
        
        .tb-name p {
            font-size: .65rem;
        }
      
}

@media only screen 
    and (max-height: 700px)
    and (orientation: landscape) {
        
        .tb-nav li,
        #tb-nav-searchbox button {
            font-size: .65rem;
        }
}

@media only screen 
    and (max-height: 550px)
    and (orientation: landscape) {
        
        .tb-name {
            display: block;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
        
        .tb-name h3 {
            margin-left: 3vw;
            margin-bottom: 1.5vh;
        }
        
        .tb-name p {
            font-size: .85rem;
        }
        
}